extends ../layout

//- Mixins
mixin list
  ul
    li foo
    li bar

mixin card(name, image, href)
  .col-lg-3.col-md-4.col-sm-6
    .card.mb-4.shadow-sm
      img.card-img-top(src=image)
      .card-body
        .d-flex.align-items-center.justify-content-center
          p.card-text
            a(href=`/playlists/${href}`)= name
              

//- Content
block content
  .pb-2.mt-2.mb-4.border-bottom
    h3= playlist.name
  .d-flex.flex-column.justify-content-center.align-items-center
    img.mb-3(src=playlist.image data-src='http://placehold.it/330')
    button.btn.btn-outline.spotify-btn Listen on Spotify
  div
    ul.list-group.list-group-flush
      li.list-group-item 1. Track - Artist
      li.list-group-item 2. Track - Artist
      li.list-group-item 3. Track - Artist
  